---
---

@import "{{ site.theme }}";

/***********************/
/*         BODY        */
/***********************/
.container-lg {
  max-width: none;
  margin-right: 0px;
  margin-left: 0px;
}

/***********************/
/*    HEADER ICONS     */
/***********************/
h1.reading:before {
    /*content: url('https://sakai.mci4me.at/library/editor/ckextraplugins/extraicons/images/blue/readings.png');*/
  content: "";
    display: block;
    background: url('https://sakai.mci4me.at/library/editor/ckextraplugins/extraicons/images/blue/readings.png') no-repeat;
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 6px 0 0;
}

/***********************/
/* SYNTAX HIGHLIGHTING */
/***********************/
.markdown-body {
  pre.highlight {
     padding: 16px;
  }
  
  /* No line numbers visible in plaintext style */
  div.language-plaintext {
    table.rouge-table td pre {
      padding: 0px 16px;
    }

    table.rouge-table td.rouge-gutter pre {
      padding: 0;
      visibility: hidden;
    }

    table.rouge-table td.rouge-gutter pre.lineno:before {
      content: ">>";
      visibility: visible;
      padding: 0 9px;
    }
  }

  table.rouge-table {
    & {
       margin: 0;
    }

    tr {
      background-color: inherit;
      border-top: none;
    }

    td {
      padding: 0px;
      border: none;
    }

    td.rouge-gutter {
      border-right: 1px solid #acacac;
      color: #acacac;
    }
  }
}
