---
---

@import "{{ site.theme }}";

.container-lg {
  max-width: none;
  margin-right: 0px;
  margin-left: 0px;
}

.rouge-table tr {
  background-color: inherit;
  border-top: none;
}

.rouge-table td {
  padding: 0px;
  border: none;
}

.rouge-table td.rouge-gutter {
  border-right: 1px solid #dfe2e5;
}
