---
---

@import "{{ site.theme }}";

.container-lg {
  max-width: none;
  margin-right: 0px;
  margin-left: 0px;
}

.markdown-body {
  pre.highlight {
     padding: 16px;
  }
  
  /* No line numbers visible in plaintext */
  div.language-plaintext {
    table.rouge-table td pre {
      margin: 0;
    }

    table.rouge-table td.rouge-gutter pre {
      visibility: hidden;
    }
  }

  table.rouge-table {
    & {
       margin: 0;
    }

    tr {
      background-color: inherit;
      border-top: none;
    }

    td {
      padding: 0px;
      border: none;
    }

    td.rouge-gutter {
      border-right: 1px solid #acacac;
      color: #acacac;
    }
  }
}
